body {
    font-family: 'News Cycle', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, h3 {
    font-weight: 700;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin: 10px 0;
}

p.lead {
    margin-bottom: 10px;
}

.outlink {
    font-size: 1.3em;
    padding-right: 10px;
}

.vitals .profession {
    font-size: 13px;
}

.vitals p.lead {
    margin-top: 0;
    margin-bottom: 5px;
}

.visible-xxs {
    display: block;
}

.line-height-0 {
	line-height: 0;
}

.vitals .info {
	text-align: center;
}

.self-image {
	width: 12em;
	-webkit-clip-path: circle(44% at 48% 51%);
	clip-path: circle(44% at 48% 51%);
	margin: 0 auto;
}

@media (min-width: 400px) {
    .vitals .profession {
        font-size: 16px;
    }
}

@media (min-width: 768px) {    
	.vitals .profession {
	    font-size: 21px;
	}
	
	.vitals .info {
		text-align: left;
	}
	
	.self-image {
		float: right;
		position: relative;
		top: -10px;
	}
}

.vitals p.lead {
    margin-bottom: 10px;
}

.box {
    position: relative;
    padding: 0 1em;
    margin-top: 1em;
    border-left-style: solid;
    border-left-width: 6px;
}

.box .title {
}

.box .foot {
	
}

.box a {

}

.box.singletrack {
    border-left-color: #eea20c;
}

.box.verily {
    border-left-color: #00aaaa;
}

.box {
    border-left-color: #333;
}

.box.urlcanon, .box.subnecto, .box.civicguide, .box.epiarc, .box.spur {
    border-left-color: #333;
}

.box.soton {
    border-left-color: #014359;
}

.box.surrey {
    border-left-color: #004682;
}

.box.deltapush {
   border-left-color: #6f3da5;
}

.box.ifestival {
    border-left-color: #7a174f;
}

.box .plain.title {
/*    font-size: 1.5em;*/
/*    font-weight: 700;*/
}

.singletrack-logo {
	display: block;
	background: url(/images/singletrack-logo.png) no-repeat;
	width: 225px;
	height: 27px;
}

.verily-logo {
    font-family: 'Abril Fatface', cursive; 
    text-decoration: none;
    font-size: 2em;
    font-weight: 400;
    color: #00aaaa;
}

.faveparts-logo {
    font-family: 'Playfair Display', cursive; 
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
	color: inherit;
}

.verily-logo:hover {
    text-decoration: none;
}

.verily-logo .first-char {
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: -0.13em;
}

footer {
    margin-top: 2em;
}

