---
layout: default
---

<main role="main" class="home container" id="content">
    <section class="vitals">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-md-push-9">
				<img src="/images/self-4.jpg" class="img-responsive self-image">
            </div>
            <div class="info col-xs-12 col-sm-12 col-md-9 col-md-pull-3">
				<h1>Alex Greenland</h1>
                <p class="lead profession">
                    Web technologist
                </p>
		        <p class="lead">
		            <i class="fa fa-twitter"></i> <a class="twitter-link" href="https://twitter.com/ajrgd"><span class="text-muted">@</span>ajrgd</a>
		            <i class="fa fa-github"></i> <a class="github-link" href="https://github.com/alexgreenland"><span class="text-muted">@</span>alexgreenland</a><span class="visible-xs line-height-0"><br></span>
					<i class="fa fa-spotify icon-spotify"></i> <a class="spotify-link" href="https://open.spotify.com/user/alexphoenix"><span class="text-muted">@</span>alexphoenix</a>
					<i class="fa fa-camera icon-unsplash"></i> <a class="unsplash-link" href="https://unsplash.com/@ajrg"><span class="text-muted">@</span>ajrg</a><span class="visible-xs line-height-0"><br></span>
		        </p>
				<ul class="nav-linear lead">
					<li role="presentation"><a class="industry-jumplink" href="#industry">Industry</a></li>
					<li role="presentation"><span class="middot">&middot;</span> <a class="projects-jumplink" href="#projects">Projects</a></li>
					<li role="presentation"><span class="middot">&middot;</span> <a class="education-jumplink" href="#education">Education</a></li>
					<li role="presentation"><span class="middot">&middot;</span> <a class="awards-jumplink" href="#awards">Awards</a></li>
				</ul>
            </div>
        </div>
    </section>
    <!-- / .vitals -->
	
	<section id="industry" class="industry">
		<h2>Industry</h2>
        
        <section class="box singletrack">
            <h3>
                {% include timeline-interchange.html %}
                <a href="http://singletrack.com/" class="title singletrack-logo singletrack-link" title="Singletrack">
                </a>
            </h3>
            
            <p class="lead">
               The leveraged CRM for capital markets. Built as a flexible revenue-driven Salesforce-based platform for sell-side firms, Singletrack maximises the return on their sales, research and corporate services. 
            </p>
        
            <div class="timeline-item foot">
                {% include timeline-stop.html %}
                <strong>Senior Developer</strong>
                <br>
                April 2016 &ndash;
                <br>
                HTML(5), JavaScript, Node.js, Sass, CSS(3), Visualforce, Apex, SOQL, Ruby on Rails
                <p class="lead">
                    Leading the UI and UX activities at Singletrack. Responsible for developing the platform in HTML(5), JavaScript, Node.js, Sass, CSS(3), Visualforce, Apex and SOQL; and development of research portals, job processing, analytics, research distribution, research aggregation services and supporting developer services in Ruby on Rails.
                </p>
            </div>
            
            <div class="timeline-item foot">
                {% include timeline-stop.html %}
                <strong>Developer</strong>
                <br>
                December 2014 &ndash; April 2016
                <br>
                HTML(5), JavaScript, CSS(3), Visualforce, Apex, SOQL, Ruby on Rails
                <p class="lead">
                    Leading the UI and UX efforts for Singletrack. Responsible for developing the platform in HTML(5), JavaScript, CSS(3), Visualforce, Apex and SOQL; and development of research portals, job processing, analytics, research distribution, research aggregation services and supporting developer services in Ruby on Rails.
                </p>
                <p>
                    <span class="outlink">
                        <i class="fa fa-globe"></i>
                        <a href="http://singletrack.com/">Singletrack</a>
                    </span>
                </p>
            </div>
        </section>
        <!-- / .box.singletrack -->
		
	</section>
	<!-- / .industry -->
    
    <section id="projects" class="projects">
        <h2>Projects</h2>
		
        <!-- box.epiarc -->
        <section class="box epiarc">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                <a href="http://epi.link/">Epi</a>, <a href="http://epiarc.org/">Epiarc</a>
            </h3>
            <div class="timeline-item foot">
                2014 &ndash;
            </div>
        </section>
        <!-- / .box.epiarc -->
		
        <!-- box.verily -->
        <section class="box verily">
            <h3>
                {% include timeline-interchange.html %}
                <a href="https://veri.ly/" class="title verily-logo" title="Verily">
                    <span class="first-char">V</span>erily
                </a>
            </h3>
        
            <div class="timeline-item foot">
                
                <strong>Lead Developer</strong>
                <br>
                2014 &ndash;
                <br>
                Node.js, Postgres, HTML5, JS, AJAX, CSS
                <p class="lead">
                    Lead Developer of social, responsive web application for collecting and verifying crowdsourced evidence following natural disasters, offering a more effective humanitarian response. Development is full-stack as part of a team in ECS at Southampton. UN Office for the Coordination of Humanitarian Affairs (OCHA) intends to utilise Verily in next natural disaster deployment; interest received from government departments and media organisations internationally. Featured in <a href="https://www.technologyreview.com/s/537036/online-fact-checking-tool-gets-a-big-test-with-nepal-earthquake/">MIT Technology Review</a>.
                </p>
                <span class="outlink">
                    <i class="fa fa-globe"></i>
                    <a href="https://veri.ly/">Verily</a>
                </span>
                <span class="outlink">
                    <i class="fa fa-github"></i>
                    <a href="https://github.com/verily-org/verily">Source</a>
                </span>
            </div>
        </section>
        <!-- / .box.verily -->
		
        <!-- box.faveparts -->
        <section class="box faveparts">
            <h3>
                {% include timeline-interchange.html %}
				<a href="https://fave.parts/" class="title faveparts-logo" title="Fave Parts"><span class="fa-stack fa-stack-ctr-1x faveparts-logotype-adjacent"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-music fa-stack-1x fa-stack-point5x fave-parts-quavers"></i></span></a>
                <a href="https://fave.parts/" class="title faveparts-logo" title="Fave Parts">
                    Fave Parts
                </a>
            </h3>
        
            <div class="timeline-item foot">
                <strong>Creator, Contributor</strong>
                <br>
                2015 &ndash;
                <br>
                HTML5, Jekyll, CSS3, JS
                <p class="lead">
                    Responsive web application to catalogue favourite sequences of media.
                </p>
                <span class="outlink">
                    <i class="fa fa-globe"></i>
                    <a href="https://fave.parts/">Fave Parts</a>
                </span>
                <span class="outlink">
                    <span class="fa-stack fa-stack-ctr-1x"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-music fa-stack-1x fa-stack-point5x fave-parts-quavers"></i></span>
					<a href="https://fave.parts/ajrg/hot-parts/">ajrg</a>
                </span>
                <span class="outlink">
                    <i class="fa fa-github"></i>
                    <a href="https://github.com/alexgreenland/fave-parts">Source</a>
                </span>
            </div>
        </section>
        <!-- / .box.faveparts -->
    
        <!-- box.urlcanon -->
        <section class="box urlcanon">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                URL Canon
            </h3>
            <div class="timeline-item foot">
                <strong>Author</strong>
                <br>
                2014 &ndash;
                <br>
                Licence: <a href="https://github.com/alexgreenland/url-canon/blob/master/LICENSE">Apache License 2.0</a>
                <p class="lead">
                    Connect/Express middleware for canonicalisation of URLs with respect to HTTP vs HTTPS and the hostname such as www vs apex. Superfluous trailing slashes in the URL are also removed.
                </p>
                Install
                <br>
                    <code>component install alexgreenland/url-canon</code>
                <p>
                    <span class="outlink">
                        <i class="fa fa-github"></i>
                        <a href="https://github.com/alexgreenland/url-canon">Source</a>
                    </span>
                </p>
            </div>
        </section>
        <!-- / .box.urlcanon -->
    
        <!-- box.movieman -->
        <section class="box movieman">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                Movieman
            </h3>
            <div class="timeline-item foot">
                <strong>Author</strong>
                <br>
                2014 &ndash;
                <br>
                <p class="lead">
                    Movie collection manager.
                </p>
            </div>
        </section>
        <!-- / .box.movieman -->
    
        <!-- box.civicguide -->
        <section class="box civicguide">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                Civicguide
            </h3>
            <div class="timeline-item foot">
                <strong>Author</strong>
                <br>
                2014 &ndash;                
                <p class="lead">
                    In development.
                </p>
            </div>
        </section>
        <!-- / .box.civicguide -->
    
        <!-- box.spur -->
        <section class="box spur">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                Spur
            </h3>
            <div class="timeline-item foot">
                <strong>Author</strong>
                <br>
                2014 &ndash;
                <p class="lead">
                    In development.
                </p>
            </div>
        </section>
        <!-- / .box.spur -->
        
        <!-- box.deltapush -->
        <section class="box deltapush">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                Deltapush
            </h3>
            <div class="timeline-item foot">
                <strong>Author</strong>
                <br>
                2012 &ndash; 2013
                <br>
                Node.js, Redis, Git
                <p class="lead">
                    Software library that web developers can utilise to push webpage markup updates to users in realtime with version control in Git and delta computation of HTML markup.
                </p>
            </div>
        </section>
        <!-- / .box.deltapush -->
    
        <!-- box.ifestival -->
        <section class="box ifestival">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                IFestival
            </h3>
            <div class="timeline-item foot">
                <strong>Developer</strong>
                <br>
                HTML, CSS, PHP, MySQL
                <br>
                2010                
                <p class="lead">
                    Developed IFestival website for <a href="http://www.ussu.co.uk/">Surrey Students' Union</a> in a team from University of Surrey Computing Society (CompSoc). We developed a website for an event recognising diversity in lifestyle, culture and food.
                </p>
            </div>
        </section>
        <!-- / .box.ifestival -->
    </section>
    <section id="education" class="education">
        <h2>Education</h2>
        <!-- box.soton -->
        <section class="box soton">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                MSc Web Technology
            </h3>
            <div class="timeline-item foot">
                <strong>Distinction. 81% aggregate</strong>
                <br>
                2013 &ndash; 2014
                <br>
                <a href="http://www.ecs.soton.ac.uk/">ECS</a>, <a href="http://www.southampton.ac.uk/">University of Southampton</a>
                <p class="lead">
                    Developed an understanding of current and emerging technologies that support web-based software systems. An intensive high-level course which covered the current and emerging technologies used to support web-based software systems. Studied web service markup languages including XML, XSL and RDF, and related topics of security, cryptography, interaction design and assistive technologies, taught by leading experts in these areas.
                </p>
            </div>
        </section>
        <!-- / .box.soton -->

        <!-- box.surrey -->
        <section class="box surrey">
            <h3 class="plain title">
                {% include timeline-interchange.html %}
                BSc Computer Science
            </h3>
            <div class="timeline-item foot">
                <strong>First Class Honours. 85% aggregate</strong>
                <br>
                2009 &ndash; 2013
                <br>
                <a href="http://www.surrey.ac.uk/">University of Surrey</a>
                <p class="lead">
                    Gained an understanding of the principles and concepts underpinning computing systems, enabling analysis and resolution of issues with today's software systems and providing a foundation for designing the next generation of computational systems.
                </p>
            </div>
        </section>
        <!-- / .box.surrey -->
    </section>
        
    <section id="awards" class="awards">
        <h2>Awards</h2>
        <section class="award">
            <h3>Richard Newitt Bursary</h3>
            <p class="lead">
                Recipient of the Southampton postgraduate bursary for the strongest capability of demonstrable effect in the field of web technology.
            </p>
        </section>
		
        <section class="award">
            <h3>The Department of Energy &amp; Climate Change Prize</h3>
            <p class="lead">
                Awarded for the best student performance in the final year of the BSc Computer Science programme.
            </p>
        </section>

        <section class="award">
            <h3>The Fivium Prize</h3>
            <p class="lead">
                Awarded for the best overall performance by a final year Computing student on the Enterprise Systems Development module of BSc Computer Science.
            </p>
        </section>
		
        <section class="award">
            <h3>Dux (Valedictorian), BSc Computer Science</h3>
            <p class="lead">
               Highest-ranking student of BSc Computer Science at the University of Surrey.
            </p>
        </section>
    </section>
	
	<section class="places">
	    <h2>Places</h2>
		<a href="/places/montreal">Montréal</a>
		
	</section>
	
</main>